.fonts{
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
}

.container2{
    font-family:'Raleway', sans-serif;
    font-weight:unset;
}

.hello-bar{
    background-color: rgb(0, 0, 0);
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1em;
  }

  .headerCon{
	box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    border-bottom:2px solid #f5f5f5;
    position:sticky;
    top:0;
    z-index: 3;
    box-shadow: 0px 0px 12px 3px rgba(166,166,166,0.6); 
    background-color: white;

}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width:80%;
    margin-left:10%;
}

.title{
    font-size:3em;
    font-family: "playfair display", serif;
    margin:0;
}

.nav-item{
    display: inline-block;
    margin: 16px;

}
.nav-item a{
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
    color: black;
}

.body-container{
    width:80%;
    margin-left:10%;

    
}
.content-box{
    display: flex;
    flex-direction: row;
    margin-top: 2%;;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius:30px;
    box-shadow: 0px 0px 12px 3px rgba(166,166,166,0.6);
}

.content-box2{
    box-shadow: unset;
    border-radius: unset;
}


.holder{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center ;
    overflow: hidden;
    margin-left: 10%;
}

.holder2{
    margin-left: unset;
    margin-right: 10%;
}

.ill-con{
    width:40%;
    overflow: hidden;
    margin-right: 10%;
}
.ill-con2{
    margin-right: unset;
    margin-left: 10%;
}

.ill{
    max-width: 80%;
    margin:10%;
    -webkit-user-drag: none;
    user-select: none;
}

.content{
    margin-top: 30px;
    line-height:1.5em;
    font-weight: 500;
    width:80%;
}

.prediction-con{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.border-hover {
    border-bottom: 1px solid transparent;
  }
  
  .border-hover:hover {
    border-bottom: 2px solid #ffb129;
  }

.inputblk{
    box-sizing: border-box;
    width:100%;
}

.form{
    width:100%;
    overflow: hidden;

}

.file-uploader{
   /* border : 1px solid #000000;*/
   width:100%;
}

.file-status{
    display:inline-block;
    font-weight: bold;
    line-height: 2em;
    color:#464646;
    border-bottom: 2px solid #e4631e;
}

#file {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .submit-btn{
      margin-top:5em;
  }
  .submit{
    overflow: hidden;
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
      font-family: 'Raleway',sans-serif;
      font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 4px;;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    background-color: #e4631e;
  }
  .submit:hover{
    box-shadow: 0 4px #bd4a0c;
    top: 2px;
  }
  

#file + label {
    background: #7a7a7a;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left:-4px;
      font-family: 'Raleway',sans-serif;
      font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    }

.btn-1 {
    background-color: #f79159;
    transition: none;
    }

.btn-1:hover {
    box-shadow: 0 4px#bd4a0c;
    top: 2px;
    }

.prediction-board{
    display:flex;
    flex-direction: row;
    align-items: center;
   /* justify-content: space-between;*/
    max-height:220px;
    overflow: hidden;
    width: 60%;
    padding:2.5%;
    border-radius:30px;
    box-shadow: 0px 0px 12px 3px rgba(166,166,166,0.6);
    margin-top: 2%;
}
.pre-img-holder{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.pre-img-container{
    /*width:50%;*/
    height:200px;
    width:200px;
    overflow: hidden;
   /* border-radius: 30px;
    box-shadow: 0px 0px 12px 3px rgba(166,166,166,0.6);*/
    margin:5%;
    margin-right:15%;
}    

#imgshow{
    width:200px;
    height:200px;
    max-width:200px;
    max-height:200px;
    user-select: none;
    -webkit-user-drag: none;
}

.segmentation-line{
    width:3px;
    background: #f15d22;
    height:200px;
}

.rate-blk-holder{
    width:50%;
    color:#353535;

}
.rate-blk{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:5%;
    margin-left: 15%;

}

.rate-title{
    font-family:"playfair display", serif;
    font-weight: bolder;
    text-align: center;
    font-size:1em;
}

.prediction-rate{
    font-family:"playfair display", serif;
    font-weight: bolder;
    font-size: 7em;
    text-align: center;
}

.gan-model-container{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.title-holder{
    position: absolute;;
    width:50%;
    height:50px;
    /*height:100%;*/
    border:2px dotted #353535;
    top: 0px;
    left: 25%;
    z-index: -2;
}

.abs-title-block{
    position: absolute;
    top:20%;
    left:2%;
    width:100%;
    height:50px;
    background: #e4631e;
    z-index:-1;
    border-radius: 3px;
}

.gantitle{
    font-family:"Playfair Display",serif;
    z-index: 2;
    color:#fff;
    font-weight: bolder;
    font-size: 2em;
}

.readmore-btn{
    overflow: hidden;
  background: #f15d22;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Raleway',sans-serif;
    font-size: inherit;
  font-weight: 600;
  margin-top: 2.5em;
  margin-bottom: 1rem;
  margin-left: 4px;;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  background-color: #e4631e;
}

.readmore-btn a{
    text-decoration: none;
    color:#fff
}

.readmore-btn:hover{
  box-shadow: 0 4px #bd4a0c;
  top: 2px;
}


.slider-holder {
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: white;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 2.5%;
  }
  
.slide{
    box-shadow:  0px 0px 12px 3px rgba(166,166,166,0.6);
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
    height:unset !important;
}

.slide:hover{
    margin-top:-1px;
}

  .slider-holder .slick-slider {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-holder .slick-slider .slide #slick-img {
    width: 100%;
    margin-right: 5px;
    position: relative;
    top: 0;
    opacity: 0.9;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  
  .slider-holder .slick-slider .slide img {
    max-width: 100%;
  }

  .slider-title{
      font-family: "playfair display",serif;
      text-align: center;
  }

  .aboutus-container{
      width:100%;
      background: #292929;
      margin-top:2.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .team-title{
      font-family: "playfair display",serif;
      color:#fff;
      font-size: 40px;
      text-decoration: underline;
  }

  .about-info-holder{
      width:80%;
      margin:2.5%;
      margin-left: 10%;
      margin-right:10%;
      margin-top: 0;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;  
      padding:2% 0;
      align-items: center;
      justify-content: center; 
  }

  .about-block{
      width:45%;
      overflow:hidden;
      margin:1.25%;
      border:2px solid #464646;
      border-radius: 30px;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: linear-gradient(315deg, #2c2c2c, #252525);
      box-shadow:-9px -9px 18px #141414, 
      9px 9px 18px #3e3e3e;
     
  }

  .my-img{
      width:20%;
      border: 2px solid #fff;
      border-radius: 50%;
      overflow: hidden;
      margin:5%;
      box-shadow:   -6px -6px 7px #141414, 
      6px 6px 7px #3e3e3e;
  }

  .my-img img{
      max-width:100%;
      max-height:100%;
  }

  .info-block{
      width:75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
  }

  .name-holder{
      font-family: "playfair display",serif;
      color:#fff;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 20px;
  }
  .status{
    font-family: "raleway",sans-serif;
    color:rgb(194, 194, 194);
    font-weight: bold;
    font-size:20px;
    line-height: 20px;
  }

  .footer{
      height:100px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
  }
  .footer-text{
      font-family: "playfair display",serif;
      color:#fff;
  }